@font-face {
	font-family: 'Noto Sans';
	src: url( ./notosans/NotoSans.ttf ) format( "truetype" );
}

@font-face {
	font-family: 'Noto Sans';
	src: url( ./notosans/NotoSans-Italic.ttf ) format( "truetype" );
	font-style: italic;
}
